## Lesson Outline
1. Getting Started 
2. Python Data Type (integers, strings, floats etc.)
3. Variables in Python
4. Comparison symbols and meaning
5. Data Types Extention (Numeric, Lists, Tuples, Dictionary etc.)
6. Conditional Statements (conditions and loop)
7. Some built in Functions (abs(), map(), range(), sum(), etc.)
8. Python Self defined Functions
9. Conclusion and Q & A

# INTRODUCTION

## What is Python?

### Python

Python is a general purpose programming language used to 
* build websites and softwares, 
* to automate tasks, 
* conduct data analysis etc.

It is multipurpose in that it can be used to create a variety of programs and not for specific problem. 

Python has become the most used programming language because of it versatility and user-friendliness with quite easy syntax. 


Python was created by Guido van Rossum, and released in 1991

In [1]:
# Write your first line of code

print('Hello world!')

Hello world!

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
# when a line of code is prefaced by '#', such is regarded as comment

# avoid this line

In [4]:
"""
This me 
and you
"""

'\nThis me \nand you\n'

In [6]:
'''
This is me and you coming from it's 
'''

"\nThis is me and you coming from it's \n"

#### Exercise

write a line of code to print your first and last name

In [7]:
print('My name is Praise and Ekeopara is my last name')

My name is Praise and Ekeopara is my last name

As easy as that right?
Oh yes! Lets continue

### Getting Started
Python can be used as a calculator. simply write the expression into the code block and execute. 

Before we continue, let's note these basic rules

1. No space or tab character is allowed at the start of a statement
2. The '#' symbol before a statement, indicates that the statement in that line is a comment
3. Statement finish at the end of a line, except for special cases to be discussed later

### Mathematical Operations 

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [8]:
# Addition: It returns the sum of the values involved. e.g; 

4 + 3

7

In [9]:
"""Subtraction: It produces a result of a value being subtracted from another. 
    Usually the value after the symbol is subtracted from the one before the symbol"""

3 - 2

1

In [10]:
# Division; gives the result of a value divided by another (single forward slash division result in a float)

3 / 2 # actual division

1.5

In [11]:
3 // 2 # floor division

1

In [16]:
# Modulus: It returns the remainder when a value divides another

190 % 23

6

In [17]:
# Multiplication: produce the result of a value multiplier by the other

3 * 2

6

In [21]:
# Floor Division: It returns the whole number only, when a value is divided by another
3 // 4

0

In [22]:
# To the power of: it raise a number to the power of its exponent.

3 ** 2

9

### Data Type
There are four major data types used in python
1. Integers (int)
2. Strings (str)
3. Floats (float)
4. Boolean (bool)

Let's consider them closely

In [27]:
 # Returns 'int'
    
type(4)

int

In [37]:
int(3.55)

3

In [29]:
 # Returns 'str'

# "A" or 'A'

type('A')

str

In [30]:
type('A')

str

In [35]:
# A = 2

# str(2)

'2'

In [38]:
 # Returns 'float'
    
type(3.45)

float

In [39]:
# Returns 'bool'

type(True)

bool

In [42]:
type(False)

bool

#### Data Type Conversions

In [43]:
# Converts the integer, 2, into a string

str(2)

'2'

In [52]:
 # Converts float to an integer
    
round(3.456, 1)

3.5

In [53]:
from math import floor, ceil

In [56]:
ceil(3.1)

4

In [58]:
 # converts the integer '8' to a float

float(8)

8.0

### Variables 
Varables are containers for storing a data value. It is usually created when a value is first assigned to it. 
Varibles consists of two important parameters.
1. Variable Names: Used to denote the variable which bears the value.
2. Variable Value: It is the parameter assigned to the variable name.

Variables are useful because you can work with them other than calling the values frquently. Although these variables could always be over-written and re-assigned to another variable name.

Variables names are usually short and simple, although they most times preferred to be more descriptive in other to represent the value being assigned. Example: Entering a person's first name, could carry the variable name, first_name or F_name, for ease of understanding.

Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [62]:
age = 3

In [63]:
Age = '45'

In [64]:
agA = '2'

### Comparisons

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

Note the difference between `==` (equality test) and `=` (assignment)

In [65]:
# To check if x is greater than 3

x = 2

print(x > 3)

False

In [66]:
# Check if x is greater or equal to 3

print(x >= 3)

False

In [67]:
 # Check if x is not equal to 3
    
print(x != 3)

True

In [68]:
# To test if x is equal 4

print(x == 4)

False

In [69]:
# tO Check if x is less than 4

print(x < 4)

True

### Data Types Extension
In programming data can be stored in several forms order than the afore-mentioned major data type. The other data types include;
* Numeric Data Type: complex
* Sequence Data Type: List, Tuple, Range
* Mapping Data Type: Dictionaries (dict)

Note: For now you are expected to know how to create, add, remove, and get item.

In [71]:
# Numeric Data Type: complex

type(3 + 3j)

complex

In [73]:
# Tuple: It is a sequencial data type which contains several datapoints of different data types. it is enclosed in a brace

days = ('Monday', 'Tuesday', 'Wednesday')

In [74]:
type(days)

tuple

In [81]:
num = ('Sat',)

new_tup = days + num

#### Index Operations

In [90]:
new_tup[0:2]

('Monday', 'Tuesday')

In [89]:
# Lists

student_ages = [13, 21, 23, 12, 3, 45, 78, 34]

# add to list

student_ages[1:-1]

[21, 23, 12, 3, 45, 78]

In [ ]:
# get last item

In [92]:
student_ages.pop(2)

23

In [93]:
student_ages

[13, 21, 12, 3, 45, 78]

In [95]:
# Dictionary(dict): it is one of the important data type in python that has keys and names, separated by a colon. Enclosed in a curly bracket

new_dict = {'fName': 'Praise', 'lName': 'Ekeopara'}

In [100]:
new_dict.keys()

dict_keys(['fName', 'lName'])

In [101]:
# Sets: They are ordered data type using in storing dataset of different types

set1 = {2, 3, 2, 4, 5, 5}

In [102]:
set1

{2, 3, 4, 5}

### Conditional Statement or Control Flow Statement
Decision-making in a programming language is automated using conditional statements, in which Python evaluates the code to see if it meets the specified conditions.
Conditional Statements are processed using the True or False statements

#### Python 
1. if Statement
2. For Statement
3. While Statement

### Some built in Functions (abs(), map(), range(), sum(), etc.)

### Python Self defined Functions

### Conclusion and Q & A