## Lesson Outline
1. Getting Started 
2. Python Data Type (integers, strings, floats etc.)
3. Variables in Python
4. Comparison symbols and meaning
5. Data Types Extention (Numeric, Lists, Tuples, Dictionary etc.)
6. Conditional Statements (conditions and loop)
7. Some built in Functions (abs(), map(), range(), sum(), etc.)
8. Python Self defined Functions
9. Conclusion and Q & A

# INTRODUCTION

## What is Python?

### Python

Python is a general purpose programming language used to 
* build websites and softwares, 
* to automate tasks, 
* conduct data analysis etc.

It is multipurpose in that it can be used to create a variety of programs and not for specific problem. 

Python has become the most used programming language because of it versatility and user-friendliness with quite easy syntax. 


Python was created by Guido van Rossum, and released in 1991

In [1]:
# Write your first line of code

Hello world!

In [2]:
# when a line of code is prefaced by '#', such is regarded as comment

#

#### Exercise

write a line of code to print your first and last name

My first name is Praise and the last name is Ekeopara

As easy as that right?
Oh yes! Lets continue

### Getting Started
Python can be used as a calculator. simply write the expression into the code block and execute. 

Before we continue, let's note these basic rules

1. No space or tab character is allowed at the start of a statement
2. The '#' symbol before a statement, indicates that the statement in that line is a comment
3. Statement finish at the end of a line, except for special cases to be discussed later

### Mathematical Operations 

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [5]:
# Addition: It returns the sum of the values involved. e.g;

7

In [6]:
"""Subtraction: It produces a result of a value being subtracted from another. 
    Usually the value after the symbol is subtracted from the one before the symbol"""

2

In [7]:
# Division; gives the result of a value divided by another (single forward slash division result in a float)

2.5

In [9]:
# Modulus: It returns the remainder when a value divides another

1

In [10]:
# Multiplication: produce the result of a value multiplier by the other

12

In [11]:
# Floor Division: It returns the whole number only, when a value is divided by another

2

In [12]:
# To the power of: it raise a number to the power of its exponent.

8

### Data Type
There are four major data types used in python
1. Integers (int)
2. Strings (str)
3. Floats (float)
4. Boolean (bool)

Let's consider them closely

In [13]:
 # Returns 'int'

int

In [15]:
 # Returns 'str'

# "A" or 'A'

str

In [17]:
 # Returns 'float'

float

In [19]:
# Returns 'bool'

bool

#### Data Type Conversions

In [20]:
 # Converts the integer, 2, into a string

<class 'int'>
<class 'str'>

In [22]:
 # Converts float to an integer

int

In [25]:
 # converts the integer '8' to a float

8.0

### Variables 
Varables are containers for storing a data value. It is usually created when a value is first assigned to it. 
Varibles consists of two important parameters.
1. Variable Names: Used to denote the variable which bears the value.
2. Variable Value: It is the parameter assigned to the variable name.

Variables are useful because you can work with them other than calling the values frquently. Although these variables could always be over-written and re-assigned to another variable name.

Variables names are usually short and simple, although they most times preferred to be more descriptive in other to represent the value being assigned. Example: Entering a person's first name, could carry the variable name, first_name or F_name, for ease of understanding.

Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

34

25

10

### Comparisons

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

Note the difference between `==` (equality test) and `=` (assignment)

In [34]:
# To check if x is greater than 3

True

In [35]:
# Check if x is greater or equal to 3

True

In [ ]:
 # Check if x is not equal to 3

In [ ]:
# To test if x is equal 4

In [ ]:
# tO Check if x is less than 4

### Data Types Extension
In programming data can be stored in several forms order than the afore-mentioned major data type. The other data types include;
* Numeric Data Type: complex
* Sequence Data Type: List, Tuple, Range
* Mapping Data Type: Dictionaries (dict)

Note: For now you are expected to know how to create, add, remove, and get item.

In [36]:
# Numeric Data Type: complex

complex

In [37]:
# Tuple: It is a sequencial data type which contains several datapoints of different data types. it is enclosed in a brace

tuple

(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6, 7)

#### Index Operations

In [48]:
tup_data_updated[0:3]

(1, 2, 3)

In [49]:
# Lists

age_students = [2, 4, 5, 6]

# add to list

age_students.append(7)

In [50]:
age_students

[2, 4, 5, 6, 7]

In [51]:
# get last item

age_students[-1]

7

In [52]:
age_students.pop(1)

4

In [53]:
age_students

[2, 5, 6, 7]

In [54]:
# Dictionary(dict): it is one of the important data type in python that have keys and names, separated by a colon. Enclosed in a curly bracket


student_dict = {'Name': 'Praise', 'School_ID': 345780}

type(student_dict)

dict

In [56]:
student_dict.get('School_ID')

345780

In [57]:
student_dict.pop('School_ID')

345780

In [58]:
student_dict

{'Name': 'Praise'}

In [59]:
# Sets: They are ordered data type using in storing dataset of different types

age_set = {12, 34, 56, 7}

type(age_set)

set

### Conditional Statement or Control Flow Statement
Decision-making in a programming language is automated using conditional statements, in which Python evaluates the code to see if it meets the specified conditions.
Conditional Statements are processed using the True or False statements

#### Python 
1. if Statement
2. For Statement
3. While Statement

### Some built in Functions (abs(), map(), range(), sum(), etc.)

### Python Self defined Functions

### Conclusion and Q & A